
Stopwatch {   
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

IcarusUI {   
    text-align: center;
    color: $foreground-muted;
    height: 3;
}

Button {
    width: 16;
}
