#body {
    background-color: #000220;
}


#header {
    background-color: #070c4e;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    width: 45%;
}
